<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <form action="/signup" method="post">
        <div class="container">
            <h2>sign up</h2>
            <div class="all-inputs">
                <input type="text" class="you" name="firstName" id="" placeholder="First Name">
                <input type="text" class="you" name="secondName" id="" placeholder="Last Name">
                <input type="email" class="you" name="email" id="" placeholder="email">
                <input type="password" class="you" name="password" id="" placeholder="passsword">
                <div class="radios">
                    <label for="male">male</label>
                    <input type="radio" name="gender" id="male">
                    <label for="female">female</label>
                    <input type="radio" name="gender" id="female">
                    <label for="custom">custom</label>
                    <input type="radio" name="gender" id="custom">
                </div>
            </div>
            <div class="button">
                <button>Submit</button>
            </div>
        </div>
    </form>
</body>

</html>